html {
    background-color: #313338;
    text-align: center;
    color: #DBDEE1;
}

body {
    margin: 0;
    color: #DBDEE1;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100vh;
    text-align: center;
}
